= form_with model: current_step, url: step_path, method: :patch, class: "cads-prose-direct-descendants" do |form|

  = render(current_step.key, form: form)

  - if wizard.can_proceed?
    = render CitizensAdviceComponents::Button.new(type: :submit) do |c|
      = current_step.next_button_text
      - c.with_icon_right do
        = render CitizensAdviceComponents::Icons::ArrowRight.new


- if wizard.previous_key
  = form_with model: current_step, url: step_path(wizard.previous_key), method: :get do
    = render CitizensAdviceComponents::Button.new(type: :submit, variant: :secondary) do |c|
      = "Previous"
      - c.with_icon_left do
        = render CitizensAdviceComponents::Icons::ArrowLeft.new
