= render ApplianceCalculator::LastAddedApplianceComponent.new(flash.notice)

%h2 How much your appliance might be costing you

= render ApplianceCalculator::MostExpensiveApplianceComponent.new(usages)
= render ApplianceCalculator::UsagesTableComponent.new(usages: usages, unit_rate: saved_unit_rate)

%p
  If you want to compare appliances using a different rate, press ‘Clear list’ to restart the calculator.

.form-actions
  %form{ action: appliance_calculator_path, method: "GET"}
    = render CitizensAdviceComponents::Button.new(type: :submit) do
      Add another appliance

  %form{ action: appliance_calculator_path, method: "GET" }
    = render CitizensAdviceComponents::Button.new(variant: :secondary, type: :submit) do
      Clear list